<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Expell student.</title>
  </head>
  <body>
      <form>
        <input type="text" name="name" placeholder="Student Name" />
        <input type="text" name="reason" placeholder="Reason for expulsion" />
        <button type="submit">Submit</button>
      </form>
  </body>
</html>
